html{
	height: 100%;
}

body{
	position: relative;
	height: 100%;
}

#mapid { 
	height: 94%;
}

.menu-list {
  display: block;
  padding: 0px;
}

.menu-list-item {
  display: block;
}


@media(min-width: 480px) {
  .menu-list-item {
  	display: inline-block;
  }
}

.menu{
	max-width: none !important;
	margin-top: 5px;
}

.title-name{
	font-size: 20px;
}

.btn{
	margin-left: 20px;
}