html, body, #mapid{
	height: 100%;
}

.btn{
	display: block;
	margin: 10px auto;

}

.loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	margin : 10% auto;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.sticky_thead{
	overflow-y: auto;
	position: sticky;
	top: 40px;
	background: white;
}

.sidebar-header{
	position: sticky;
	top: 0;
	z-index: 1;
	min-height: 40px;
	height: auto;
}



#date_begin, #date_end{
	margin-left : 10px;
	margin-right : 10px;

}

.input-daterange{
	margin-top: 10px;
	margin-bottom: 10px;
}

.vertical-txt{
  display: flex;
  justify-content: center;
  align-items: center;
}

#filters{
	display: none;
}

#filters_content{
	display: none;
}
